body, .span-color {
    background-color: #222831;
    color: #eeeeee;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    font-size: 3rem;
    color: #00adb5;
}

.header p {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;

}

.contact-btn {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    border: 2px solid #00adb5;
    color: #eeeeee;
    padding: 20px;
    font-size: 1.6rem;
}

.contact-btn:hover {
    background-color: #00adb5;
}

.computer-svg {
    height: 35rem;
}

.header {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    gap: 5rem;
    align-items: center;
}

section {
    padding: 5rem;
}

.title {
    text-align: center;
    font-size: 2rem;
}

.project-title {
    font-weight:700;
    font-size: 1.3rem;
}

.learn-more {
    border: 2px solid #eeeeee;
    border-radius: 5px;
    text-decoration: none;
    color: #eeeeee;
    background-color: #eeeeee4f;
    width: fit-content;
    margin-left: 1rem;
}

.learn-more:hover {
    background-color: #00adb5;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 1rem;
    justify-content: center;
}

.card {
    width: 400px;
    background-color: #00adb5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    padding-bottom: 20px;
}

.projects {
    background-color: #393e46;
}

.project-title, .learn-more, .project-description {
    padding: 0 1rem;
}

.project-img {
    border-radius: 15px 15px 0 0;
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.about-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.content {
    text-align: center;
}

.my-picture {
    height: 150px;
    border-radius: 50%;
    border: 2px solid #eeeeee;
}


.contact-info {
    list-style: none;
    text-align: start;
}

.footer {
    background-color: #393e46;
}

a {
    color:#00adb5;
}

.homepage {
    text-decoration: none;
}

.icon {
    height: 25px;
    margin-right: 10px;
}

.social-media {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

@media (max-width: 1300px){
    .cards {
        grid-template-columns: 400px 400px;
    }

    .header {
        grid-template-columns: 400px;
    }

    .computer-svg {
        width: 70vw;
        justify-self: center;
    }

    .header div {
        width: 70vw;
        justify-self: center;
    }
}

@media (max-width: 900px) {
    .cards {
        grid-template-columns: 400px;
    }
}
